
animacion.gif
.ipynb_checkpoints/Manivela Balancin_tuplas-checkpoint.ipynb
ManivelaBalancin/.ipynb_checkpoints/ManivelaBalancin_MetodoAnalitico-checkpoint.ipynb
SeisBarras/.ipynb_checkpoints/Six-bar mechanism 3 - knee-checkpoint.ipynb
VelAcc/.ipynb_checkpoints/ManivelaBalancin_VelAcc-checkpoint.ipynb
02a_VelocidadAceleracion/.ipynb_checkpoints/ManivelaBalancin_VelAcc-checkpoint.ipynb
